.git
.gitignore
.vscode
local.settings.json
.python_packages
__pycache__
*.pyc
.venv
venv
.env
*.log
.DS_Store
__azurite_db*__.json
__blobstorage__
__queuestorage__
test
tests
.funcignore
.deployment
